.width-100-persent {
  width: 100%;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.no-decoration {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.bold {
  font-weight: bold;
}

.textXl {
  font-size: 2rem;
  line-height: 2rem;
}
